{{ raspbian_cmdline_common }} ip={{ raspbian_networking.ip }}::{{ raspbian_networking.gateway }}:{{ raspbian_networking.netmask }}:{{ raspbian_networking.hostname }}:{{ raspbian_networking.device }}:{{ raspbian_networking.autoconf }}